<h1>Liste des article</h1>

<% @articles.each do |article|%>
<p><%= article.name%></p>
<p><%= article.description%></p>
<p><%= article.price%> francs suisse</p>
<%= link_to 'Voir', article_path(article)%>
</br>
</br>
<%end%>